/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card, 400);
  font-size: 18px;
  line-height: 1.17;
  background-color: var(--background-color, #FFFFFF);
  color: var(--text-color, #000);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-content: center;
}

.content-width {
  inline-size: var(--content-width);
}

.header {
  display: grid;
  border: 2px solid var(--text-color, #000);
  background-color: var(--background-color, #FFFFFF);
  margin: 100px auto;
  padding-block-start: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem);
  padding-block-end: 25px;
  gap: 25px;
}

.header__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: clamp(3.125rem, 2.0298rem + 4.6729vw, 4.0625rem);
  line-height: 1;
}

.header__title {
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  line-height: 1;
  text-transform: uppercase;
}

.theme-menu {
  display: flex;
  justify-content: center;
  margin-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  line-height: 0;
  font-size: 0;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  color: var(--hover-color, rgb(0, 0, 0, 0.6));
  transition: color ease 0.3s;
}

.content__section {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

.card {
  border: 2px solid var(--text-color, #000);
  font-family: var(--main-font);
  display: grid;
  place-items: center;
  background-color: var(--background-color, #FFFFFF);
}

.card__title {
  font-variation-settings: 'wght' var(--font-weight-card-title, 700);
  font-size: 18px;
  line-height: 1.22;
  justify-self: flex-start;
  inline-size: 100%;
  padding: 4px 10px;
}

.image__container {
  position: relative;
  inline-size: 100%;
  font-size: 0;
  line-height: 0;
  border-block-start: 2px solid var(--text-color, #000);
  border-block-end: 2px solid var(--text-color, #000);
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: fill;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__image_interest {
  filter: invert(1) hue-rotate(-100deg);
}

.card__image_panic {
  filter: grayscale(0.8);
}

.card__image_hooray {
  filter: saturate(300%);
}

.card__image_study {
  filter: blur(4px);
}

.card__image_team {
  filter: brightness(1.3);
}

.card__image_adaptability {
  filter: saturate(250%) invert(1) hue-rotate(90deg);
}

.card__image_despair {
  filter: sepia(1) brightness(80%);
}

.card__image_let-s-go {
  filter: none;
}

.image__label {
  position: absolute;
  top: 25px;
  right: clamp(13px, 0.3791rem + 1.849vw, 25px);
  z-index: 1;
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--text-shadow-color, rgb(255, 255, 255, 0.6)), 
   0 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6)), 
   1px 0 var(--text-shadow-color, rgb(255, 255, 255, 0.6)), 
   0 -1px var(--text-shadow-color, rgb(255, 255, 255, 0.6));
   mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6))) or (-webkit-text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6)))) {
  .image__label {
      -webkit-text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6));
      text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6));
      text-shadow: none;
  }
} 

.card__description {
  display: grid; 
  padding: 25px;
  gap: 25px;
}

.card__text {
  font-variation-settings: 'wght' var(--font-weight-card, 400);
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__button_container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  block-size: 38px;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.button {
  border: 2px solid var(--text-color, #000);
  background-color: var(--background-color, #FFFFFF);
  cursor: pointer;
  position: relative;
}

.button:focus {
  outline: none;
}

.button__text {
  font-family: var(--accent-font, fantasy);
  color: var(--button-text-color, #FFFFFF);
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  inline-size: 130px;
  position: relative;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 52px;
  margin-block-end: 100px;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 18.5px 20px;
}

.footer__button:focus {
  outline: none;
}

.footer__save-icon {
  inline-size: 21px;
  block-size: 21px;
  color: var(--button-text-color, #FFFFFF);
  mix-blend-mode: difference;
}

.footer__dialog {
  background-color: var(--background-color, #FFFFFF);
  color: var(--text-color, #000);
}

.footer__dialog[open] {
  display: grid;
  grid-template-rows: auto auto;
  gap: 30px;  
  padding: 30px 40px;
  max-inline-size: 357px;
}

.footer__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon svg {
  display: block;
  inline-size: 40px;
}

.footer__dialog-text {
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.close-button {
  inline-size: 100%;
}

@media (max-width: 375px) {
  .page { 
    max-inline-size: 100vw;
  }

  .content-width {
    inline-size: 100%;
  }

  .header__logo {
    font-size: 3rem;
  }
  
  .footer__save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .footer__button {
    flex-direction: column;
  }
}