/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  place-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 1.17;
  font-variation-settings: "wght" var(--font-weight-card, 400);
  color: var(--text-color, #000);
  background-color: var(--background-color, #ffffff);
  background: var(--background-image, #1a1a1a) center/cover fixed;
}

.content-width {
  inline-size: var(
    --content-width,
    clamp(375px, 16.2852rem + 30.5164vw, 700px)
  );
}

.header {
  display: grid;
  gap: 25px;
  margin: 100px auto;
  padding-block-start: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem);
  padding-block-end: 25px;
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--text-color, #000);
}

.header__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--accent-font, fantasy);
  font-size: clamp(3.125rem, 2.0298rem + 4.6729vw, 4.0625rem);
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font, fantasy);
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.theme-menu {
  display: flex;
  justify-content: center;
  margin-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  line-height: 0;
  font-size: 0;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-block-end: 105px;
  gap: 50px;
}

.card {
  display: grid;
  place-items: center;
  font-family: var(--main-font, sans-serif);
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--text-color, #000);
}

.card__title {
  justify-self: flex-start;
  inline-size: 100%;
  padding: 4px 10px;
  font-size: 18px;
  line-height: 1.22;
  font-variation-settings: "wght" var(--font-weight-card-title, 700);
}

.image__container {
  position: relative;
  inline-size: 100%;
  font-size: 0;
  line-height: 0;
  border-block-start: 2px solid var(--text-color, #000);
  border-block-end: 2px solid var(--text-color, #000);
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: fill;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__image_interest {
  filter: invert(1) hue-rotate(-100deg);
}

.card__image_panic {
  filter: grayscale(0.8);
}

.card__image_hooray {
  filter: saturate(300%);
}

.card__image_study {
  filter: blur(4px);
}

.card__image_team {
  filter: brightness(1.3);
}

.card__image_adaptability {
  filter: saturate(250%) invert(1) hue-rotate(90deg);
}

.card__image_despair {
  filter: sepia(1) brightness(80%);
}

.card__image_let-s-go {
  filter: none;
}

.image__label {
  position: absolute;
  top: 25px;
  right: clamp(13px, 0.3791rem + 1.849vw, 25px);
  z-index: 1;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-shadow-color, rgb(255, 255, 255, 0.6)),
    0 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6)),
    1px 0 var(--text-shadow-color, rgb(255, 255, 255, 0.6)),
    0 -1px var(--text-shadow-color, rgb(255, 255, 255, 0.6));
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6))) or
    (-webkit-text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6)))
) {
  .image__label {
    -webkit-text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6));
    text-stroke: 1px var(--text-shadow-color, rgb(255, 255, 255, 0.6));
    text-shadow: none;
  }
}

.card__description {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__text {
  display: flex;
  gap: 27px;
  flex-direction: column;
}

.card__button_container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  block-size: 38px;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.43;
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--text-color, #000);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-weight: 400;
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  padding-inline: 35px;
}

.save__button {
  gap: 8px;
  padding: 15px 18.5px;
  margin: 0 auto;
  line-height: 0.9;
}

.save__button:focus {
  outline: none;
}

.save__icon {
  inline-size: 21px;
  block-size: 21px;
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.dialog {
  background-color: var(--background-color, #ffffff);
}

.dialog[open] {
  display: grid;
  place-content: center;
  max-inline-size: 357px;
  gap: 30px;
  margin: 0 auto;
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 18px;
}

.dialog__icon svg {
  display: block;
  inline-size: 39px;
}

.dialog__content-text {
  max-inline-size: 234px;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}

.close-button {
  inline-size: 100%;
  padding: 0;
}

.close-button .button__text {
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .page {
    max-inline-size: 100vw;
  }

  .content-width {
    inline-size: 100%;
  }

  .header__logo {
    font-size: 3rem;
  }

  .save__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .save__button {
    flex-direction: column;
  }

  .dialog[open] {
    max-inline-size: 341px;
    padding-inline: 40px;
  }
}
