/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card, 400);
  background-color: var(--background-color);
  color: var(--color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color);
  background-color: var(--background-color);
  margin-block: 100px;
  padding-block-start: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem);
  padding-block-end: 25px;
  inline-size: 100%;
  max-inline-size: 696px;
}

.header__logo {
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: clamp(3.125rem, 2.0298rem + 4.6729vw, 4.0625rem);
  line-height: 1;
}

.header__title {
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  line-height: 1;
  text-transform: uppercase;
}

.theme-menu {
  margin-block-start: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  color: var(--hover-color);
}

.theme-menu__button:focus {
  outline: none;
  color: var(--hover-color);
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid var(--hover-color);
  width: 0%;
  top: 1em;
  left: 0;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
  transition: width 0.3s;
}

.theme-menu__button:hover {
  color: var(--hover-color);
  transition: color 0.3s;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -15px;
  color: currentColor;
}

.card {
  font-family: var(--main-font);
  display: grid;
  place-items: center;
  background-color: var(--background-color);
  max-inline-size: 696px;
}

.card__title {
  border: 2px solid var(--color);
  font-variation-settings: 'wght' var(--font-weight-card-title);
  font-size: 18px;
  line-height: 1.22;
  justify-self: flex-start;
  inline-size: 100%;
}

.image__label {
  position: relative;
  inline-size: 100%;
  font-size: 0;
  line-height: 0;
}

.image__label::before {
  content: '</HTML>';
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-shadow:
    -1px 0 var(--background-color), 
   0 1px var(--background-color), 
   1px 0 var(--background-color), 
   0 -1px var(--background-color);
   mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .image__label::before {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
} 

.card__image {
  inline-size: 100%;
}

.card__text {
  border: 2px solid var(--color);
  font-variation-settings: 'wght' var(--font-weight-card);
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__button_container {
  display: flex;
  align-self: flex-end;
  gap: 12px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card__like-button {
  border: 2px solid var(--color);
  background-color: transparent;
  padding-block: 12.5px;
  inline-size: 130px;
  cursor: pointer;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.card__like-button:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 52px;
  margin-block-end: 100px;
  gap: 8px;
}

.footer__button {
  background-color: var(--background-color);
  padding: 0;
  border: 2px solid var(--color);
  width: 306px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer__button:focus {
  outline: none;
}

.floppy {
  inline-size: 28px;
}